{{define "title"}}{{.Meal.Name}}{{end}}

{{define "main"}}
    {{with .Meal}}
    <article class="meal">
        <header class="meal-header">
            <div>
                <h1>{{.Name}}</h1>
                <div class="meal-metadata">
                    {{with .Category}}
                        <span>{{.}}</span>
                    {{end}}

                    {{with .Area}}
                        <span>{{.}}</span>
                    {{end}}

                    {{with .Country}}
                        <span>{{.}}</span>
                    {{end}}
                </div>
            </div>
        </header>
        <section class="meal-ingredients">
            <h2>Ingredients</h2>
            <ul>
                {{range .Ingredients}}
                    <li>
                        {{with .MeasureText}}
                            <span class="ingredient-measure">{{.}}</span>
                        {{end}}
                        <span class="ingredient-name">{{.Name}}</span>
                    </li>
                {{else}}
                    <li>No ingredients available.</li>
                {{end}}
            </ul>
        </section>
        <section class="meal-instructions">
            <h2>Instructions</h2>
            <p>{{.Instructions}}</p>
        </section>
        {{if or .SourceURL .YoutubeURL}}
        <section class="meal-links">
            <h2>More Information</h2>
            {{with .SourceURL}}
                <a href="{{.}}" target="_blank" rel="noopener noreferrer">
                    Original Recipe
                </a>
            {{end}}
            {{with .YoutubeURL}}
                <a href="{{.}}" target="_blank" rel="noopener noreferrer">
                    Watch on YouTube
                </a>
            {{end}}
        </section>
        {{end}}
    </article>
    {{end}}
{{end}}